.dropdown {
  display: flex;
  gap: 20px;
}
.dropdown-content {
  display: none;
  position: absolute;
  gap: 30px;
}
.clothing .clothing-1 .clothing-2 {
  border-right: 1px solid black;
}
.women:hover .dropdown-content {
  display: flex;
}
.women {
  position: relative;
}
li {
  list-style: none;
  width: 200px;
}
.dropdown-content-1 {
  display: none;
  position: absolute;
}
.about:hover .dropdown-content-1 {
  display: block;
}

.container {
  width: 1200px;
  margin: 0 auto;
  height: 600px;
}
.container-1 {
  display: flex;
  align-items: center;
  width: 1200px;
  margin: 0 auto;
  height: 600px;
  background: url(vong1.jpg) no-repeat center;
  background-size: cover;
}
.container-2 {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto auto;
}
.content {
  text-align: center;
}
.container-3 {
  text-align: center;
}
.container-4 {
  width: 100%;
  height: 300px;
  display: flex;
  gap: 10px;
}

.photo-1 {
  display: flex;
  align-items: end;
  padding-left: 20px;
  width: 50%;
  color: white;
  background: url(women.jpg) no-repeat center;
  background-size: cover;
}
.photo-2 {
  display: flex;
  align-items: end;
  padding-left: 20px;
  width: 50%;
  background: url(men.jpg) no-repeat center;
  background-size: cover;
  color: white;
}
